<h2>hi from edit2 adding user to project</h2>

<%= render 'form_for _adding_users', project: @project %>

<%= link_to 'Show', @project %> |
<% if can? :manage, :DashboardManagersController  %>
  <%= link_to 'Back', dashboard_managers_path %>
<% elsif can? :manage, :DashboardDevelopersController %>
  <%= link_to 'Back', dashboard_developers_path %>
<% elsif can? :manage, :DashboardQasController  %>
  <%= link_to 'Back', dashboard_qas_path %>
<% end %>
