<h2>hi from edit2 adding user to project</h2>

<%= render 'form_for _adding_users', project: @project %>

<%= link_to 'Show', @project %> |
<% if current_user.manager? %>
  <%= link_to 'Back', dashboard_managers_path %>
<% elsif current_user.developer? %>
  <%= link_to 'Back', dashboard_developers_path %>
<% elsif current_user.qa? %>
  <%= link_to 'Back', dashboard_qas_path %>
<% end %>
