<p id="notice"><%= notice %></p>

  <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
					    <h2><b>Projects</b></h2>
					</div>
					<div class="col-sm-6">

						<a href="projects/new"  class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Project </span></a>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Show</th>
                        <th>Edit</th>
                        <th>Add users</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                  <% @projects.each do |project| %>
                    <tr>
                      <td class="w-25 p-3"><%= project.title %></td>
                      <td><%= project.description %></td>
                      <td><%= link_to 'Show', project, class: "show" %></td>
                      <td><%= link_to 'Edit', edit_project_path(project), class: "edit" %></td>
                      <td><%= link_to 'Add users', edit_users_list_project_path(project), class: "edit" %></td>
                      <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete"  %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
