<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<h2>Bugs</h2>
<% for bug in @project.bugs %>
    <ul>
      <li><%= bug.title %></li>
      <li><%= bug.description %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Add Bug', project_bugs_path(@project) %> |
<%= link_to 'Back', projects_path %>
