<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<h2>Bugs</h2>
<% @project.bugs.each do |bug| %>
    <ul>
      <li><%= bug.title %></li>
      <li><%= bug.description %></li>
  </ul>
<% end %>

<% if current_user.qa? %>
  <%= link_to 'Add Bug', project_bugs_path(@project) %> |
<% end %>
<% if current_user.developer? %>
  <%= link_to 'Assign Bugs', assign_bugs_to_user_project_bugs_path(@project) %> |
<% end %>
<% if current_user.manager? %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', dashboard_managers_path %>
<% elsif current_user.developer? %>
  <%= link_to 'Back', dashboard_developers_path %>
<% elsif current_user.qa? %>
  <%= link_to 'Back', dashboard_qas_path %>
<% end %>
