
<%= form_with url: add_bugs_to_user_project_bugs_path, local: true do |form| %>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-4">
        <h4>all Bugs</h4>
        <div class="input-group col-12">
          <%= form.select(:bug_ids, @bugs.collect {|b| [b.title, b.id]}, { include_blank: false, include_hidden: false }, {multiple: true}) %>
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-4 col-lg-offset-4">
          <div class="input-group">
            <%= form.submit%>
          </div>
      </div>
  </div>
<% end %>
<br>

<% if current_user.manager? %>
  <%= link_to 'Back', dashboard_managers_path %>
<% elsif current_user.developer? %>
  <%= link_to 'Back', dashboard_developers_path %>
<% end %>
