<p id="notice"><%= notice %></p>

<h1>Bugs</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Show Project</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.description %></td>
        <td><%= bug.deadline %></td>
        <td><%= link_to 'Show Project', project_path(@project) %></td>
        <%# <td><%= link_to 'Add', project_path(@project) %>
        <% if current_user.developer? %>
        <td><%= link_to 'Edit Bug', edit_project_bug_path(@project, bug) %></td>
        <% end %>
        <%# <td><%= link_to 'Destroy Bug', project_bug_path(@project, bug), method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.qa? %>
<%= link_to 'New Bug', new_project_bug_path(@project) %>
<% end %>
<% if current_user.manager? %>
  <%= link_to 'Back', dashboard_managers_path %>
<% elsif current_user.developer? %>
  <%= link_to 'Back', dashboard_developers_path %>
<% elsif current_user.qa? %>
  <%= link_to 'Back', dashboard_qas_path %>
<% end %>
