<p id="notice"><%= notice %></p>

<h1>Bugs</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Deadline</th>
      <th>Show Project</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td><%= bug.title %></td>
        <td><%= bug.description %></td>
        <td><%= bug.deadline %></td>
        <td><%= link_to 'Show Project', project_path(@project) %></td>
        <% if can? :update, Bug %>
        <td><%= link_to 'Edit Bug', edit_project_bug_path(@project, bug) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Bug %>
<%= link_to 'New Bug', new_project_bug_path(@project) %>
<% end %>
<% if can? :manage, :DashboardManagersController  %>
  <%= link_to 'Back', dashboard_managers_path %>
<% elsif can? :manage, :DashboardDevelopersController %>
  <%= link_to 'Back', dashboard_developers_path %>
<% elsif can? :manage, :DashboardQasController  %>
  <%= link_to 'Back', dashboard_qas_path %>
<% end %>
