<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bug.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bug.description %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @bug.deadline %>
</p>

<div>
  <strong>Screenshot:</strong>
  <%= image_tag @bug.screenshot, width: "200px" %>
</div>

<p>
  <strong>Project:</strong>
  <%= @bug.project_id %>
</p>

<%= link_to 'Edit', edit_project_bug_path(@project, @bug) %> |
<%= link_to 'Back', project_bugs_path(@project) %>
